streamlit
gspread==5.7.0
oauth2client==4.1.3
pandas
openpyxl
Pillow
requests
google-auth
pygsheets
matplotlib
seaborn
firebase-admin
psycopg2-binary
streamlit-aggrid
streamlit-plotly-chart
sqlalchemy
python-dotenv
redis
pyyaml
pymongo
requests_oauthlib
pycryptodome
streamlit
gspread
oauth2client
pandas
openpyxl
Pillow
requests
gspread
google-auth
pandas
streamlit
openpyxl
pygsheets
matplotlib
seaborn
firebase-admin
gspread==5.7.0
oauth2client==4.1.3
psycopg2-binary
streamlit-aggrid

